// MAIN AND SECONDARY COLOR
$primaryColor: #1E2D3B;
$secondColor: rgb(46, 58, 70);;

// FONT STYLE AND FONT SIZE
$fontFamily:'Lato', sans-serif;

// SIZE
$logoSize: 50px;
$albumSize: 350px;
